h3 {
   color: brown;
}

body {
  background-color: sienna;
}


.imagen {
  padding-left: 180px;
}


.tit {
  /*background-image: linear-gradient(to right, chocolate, rgba(220, 193, 21, 0.927));*/
  background-color: chocolate;
  text-align: center;
  padding: 20px;
}

.navbar-collapse {
  flex-grow: initial;
}


.deco a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}


.banner1 {
  margin: 0 auto;
  justify-content: center;
}


.zoom {
  transition: transform 1.5s;
}

.zoom:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}

.main__section-text {
  padding: 15px;
}

.main__section-img {
  margin-left: 200px;
  width: 450px;
}
.article__section-options {
  list-style: none;
  text-decoration: none!important;
  flex-direction: column;
  justify-content: left!important;
}

.article__section-first {
  margin: 40px, 30px;
}

.article__section-title ul li {
  list-style: none;
}

.article__section-listado {
  justify-content: left!important;
}


#grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 100px);
  gap: 10px;
}

.grid-item {
  background-color: antiquewhite;
}

.grid-item:nth-child(1) {
  background-color: burlywood;
  grid-column: 3/1;
  grid-row: 3/7;
}

.grid-item:nth-child(2) {
  background-color: burlywood;
  grid-column: 1/3;
  grid-row: 1/3;
}

.grid-item:nth-child(3) {
  
  grid-column: 3/5;
  grid-row: 1/5;
}

.grid-item:nth-child(4) {
  background-color: burlywood;
  grid-column: 7/5;
  grid-row: 7/1;
}

.grid-item:nth-child(5) {
  background-color: antiquewhite;
  grid-column: 3/5;
  grid-row: 7/5;
}

.pad {
  padding: 10px 20px;
  text-align: center;
}

.pad1 {
  padding: 15px 55px;
}

.pad2 {
  padding: 5px 50px;
}

.pad3 {
  padding: 15px 30px;
  text-align: center;
}

.pad4 {
  padding: 5px 15px;
  text-align: center;
}


.iframe {
  text-align: center;
  max-width: 700px;
}

.pie {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 40px;
}

.flex-container {
  display: flex;
  background-color: burlywood;
  padding: 10px;
  gap: 15px;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-grow: initial;
  
}

.flex-item {
  background-color: black;
  border: 2px solid black;
  width: 200px;
  color: white;
}


ul {
  display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
}

ul li {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin:0 auto;
  margin-top:10px;
}


.foto-indigena{
  display: flex;
  width: 100%;
  margin-bottom: 60px;
}

.container-caps {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width:600px) {
  #grid-container {
    display: flex;
    flex-direction: column;
  }
}

.flex-container-CSur {
  display: flex;
  background-color: chocolate;
  padding: 10px;
  height: auto;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.flex-item-Csur {
  background: tan;
  border: 2px, solid, black;
  text-align: center;
}

.flex-item-Csur img {
  width: 100%;
}

/*principio sur*/

.flex-container1 {
  display: flex;
  background-color: chocolate;
  padding: 10px;
  height: auto;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.flex-item1 {
  background: tan;
  border: 2px, solid, black;
  text-align: center;
}

.flex-item1 img {
  width: 100%;
}

/*fin sur*/