* {
    p {
        margin-left: 15px;
    }
}

h4 {
  text-align: center;
  padding: 10px;
}


.navbar-brand img {
  border-radius: 50%!important;
}

$color-wapp:green;
$color-fb:blue;
$color-insta:rgb(212, 19, 90);
$color-twt:rgb(17, 120, 155);

$colores: (
  "color-face":$color-fb,
  "color-insta":$color-insta,
  "color-twt":$color-twt,
  "color-wap":$color-wapp,
);


@mixin prueba {
    background-color: $color-insta;
    font-size: 80px;
}


.contenedor-colores {
  height: 100px;
  width: 200px;
  background-color: #fff;
}


.contenedor-prueba {
  @extend .contenedor-colores;
}

.cont-iconos .bi-facebook, .cont-iconos #FB {
   color: map-get($colores, "color-face");
}
.cont-iconos .bi-instagram, .cont-iconos #Ig {
   color: map-get($colores, "color-insta");
}
.cont-iconos .bi-twitter, .cont-iconos #Twt {
   color: map-get($colores, "color-twt");
}
.cont-iconos .bi-whatsapp, .cont-iconos #Whapp {
  color: map-get($colores, "color-wap");
}

.pintro {
  text-align: center;
  padding: 5px;
}
 
h2 {
    text-align: center;
    color: var(--color);
    padding: 40px;
}

body {
    background-color: rgb(199, 137, 86);
  }

  
  .imagen {
    padding-left: 180px;
  }
 
  .intro {
   &__tit {
     background-color: rgba(157, 75, 16, 0.655);
     text-align: center;
     padding: 20px;
   }
   a{
     color: chocolate
   }
  }
 
  .investi {
    margin-left: 15px;
  }

  .img-radio {
    border-radius: 50%;
  }
  .princtit {
    margin-bottom: 25px;
  }
  
  .navbar-collapse {
    flex-grow: initial;
  }
 
  .navbar-light .navbar-nav .nav-link {
     color: antiquewhite;
     font-size: 1.3rem;
     margin: 0px 15px;
  }

  .navbar-brand {
    padding: 10px;  
  }
 
  header {
      position: sticky;
      top: 0;
      z-index: 100;
      background-color: rgb(134, 65, 33);
  }

  
  .deco a {
    color: black;
    font-size: 16px;
    margin: 60px;
  }

  @media(max-width: 599px) {
    .deco a {
      margin: 0px;
    }
  }

  .banner {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(imagenes/bakcgroundbanner.png);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    
  }

  .texto-banner {
    font-size: 4vw;
    padding: 50px;
  }

  @media screen and (max-width: 600px) {
    .texto-banner {
    font-size: 5vw;
  }
}
  

@media screen and (max-width: 386px) {
  .texto-banner {
  font-size: 6vw;
  text-align: center;
}
}




 .banner1 {
    margin: 0 auto;
    justify-content: center;
  }
  
 
  .zoom {
    transition: transform 1.5s;
  }
 
  
  .zoom:hover {
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
  }
 
 
  .main__section-img {
    margin-left: 200px;
    width: 450px;
  }

  /* Galería*/

  *, ::before, ::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


/* imagenes del grid*/

.img-1 {
  grid-area: img-1;
  min-height: 51.5rem;
  background-image: url(imagenes/niña.jpg);
  background-size: cover;
}
.img-2 {
  grid-area: img-2;
  background-image: url(imagenes/dibujos-mapuches.jpeg);
  background-size: contain;
}
.img-3 {
  grid-area: img-3;
  background-image: url(imagenes/paisaje.jpg);
  background-size: cover;
}
.img-4 {
  grid-area: img-4;
  background-image: url(imagenes/norte.jpg);
  background-size: cover;
}
.img-5 {
  grid-area: img-5;
  background-image: url(imagenes/mate.jpg);
  background-size: cover;
}
.img-6 {
  grid-area: img-6;
  min-height: 51.5rem;
  background-image: url(imagenes/niño.jpg);
  background-size: cover;
}
.img-7 {
  grid-area: img-7;
  background-image: url(imagenes/lago.jpg);
  background-size: cover;
}
.img-8 {
  grid-area: img-8;
  background-image: url(imagenes/rocas.jpg);
  background-size: cover;
}

/* Size of the container */

.container {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0 1.5rem;
}


/* Grid of the gallery on desktop */

.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas: 'img-1 img-2 img-3 img-3'
                      'img-1 img-4 img-5 img-6'
                      'img-7 img-7 img-8 img-6';
}


.image-gallery a {
  width: 100%;
  height:25rem;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* Icon styles - you only can see icons when you hover on images */


.image-gallery a ion-icon {
  /* color: rgba(255, 255, 255, .6); */
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border: 2px solid rgba(255, 255, 255, .6);
  border-radius: .4rem;
  opacity: 0;
  transition: opacity .5s;
}


/* Another hover action ---- > background color */

.image-gallery a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
  opacity: 0;
  transition: opacity .5s;
}


/* Make the icon and the background visible when hovering */

.image-gallery a:hover ion-icon, .image-gallery a:hover::before  {
  opacity: 1;
}

/* Media querys tablet --> medium size screens */

@media screen and (max-width:900px) {

    
  .image-gallery {
      grid-template-areas: 'img-1 img-1 img-2 img-2'
                          'img-1 img-1 img-3 img-3'
                          'img-4 img-4 img-5 img-5'
                          'img-6 img-7 img-7 img-7'
                          'img-8 img-8 img-8 img-8';
      }
  
      .image-gallery a {
          height: 20rem;
      }
  
      .img-1 {
          min-height: 41.5rem;
      }
  
      .img-6 {
          min-height: 20rem;
      }
  
  }
  
  /* Media querys mobile ---> small size screens */
  
  @media screen and (max-width:600px) {
  
      
      .image-gallery {
          grid-template-areas: 'img-1 img-1 img-1 img-1'
                              'img-2 img-2 img-2 img-2'
                              'img-3 img-3 img-3 img-3'
                              'img-4 img-4 img-4 img-4'
                              'img-5 img-5 img-5 img-5'
                              'img-6 img-6 img-6 img-6'
                              'img-7 img-7 img-7 img-7'
                              'img-8 img-8 img-8 img-8';
          }
      
          .image-gallery a, .img-1, .img-6{
              height: 30rem;
              min-height: 30rem;
          }
      
          
      
      }


      .image-gallery a .caja {
        height: 50px;
        width: 100%;
        background-color: rgb(143, 96, 25);
        position: absolute;
        bottom:0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 16px;
        margin: 0% 10%;
    }











 
 .artic {
  &__listado {
    display: flex;
    justify-content: center;
  }
  &__options {
    list-style: none;
    text-decoration: none!important;
    flex-direction: column;
    justify-content: center;
   }
    & &__title ul li {
     list-style: none;
     margin-left: 60px;
   }
 &__first {
     margin-left: 30px;
   }
  }

 
//   #grid-container {
//     display: grid;
//     /*grid-template-columns: repeat(6, 1fr);*/
//     grid-template-rows: repeat(6, 100px);
//     gap: 10px;
//   }
  
//   .grid-item {
//     background-color: antiquewhite;
//   }
  
//   .grid-item:nth-child(1) {
//     background-color: burlywood;
//     grid-column: 3/1;
//     grid-row: 3/7;
//   }
  
//   .grid-item:nth-child(2) {
//     background-color: burlywood;
//     grid-column: 1/3;
//     grid-row: 1/3;
//   }
  
//   .grid-item:nth-child(3) {
    
//     grid-column: 3/5;
//     grid-row: 1/5;
//   }
  
//   .grid-item:nth-child(4) {
//     background-color: burlywood;
//     grid-column: 7/5;
//     grid-row: 7/1;
//   }
  
//   .grid-item:nth-child(5) {
//     background-color: antiquewhite;
//     grid-column: 3/5;
//     grid-row: 7/5;
//   }

  
  .pad {
    // padding: 10px 20px;
    text-align: center;
  }
  
  // .pad1 {
  //   padding: 15px 55px;
  // }
  
  // .pad2 {
  //   padding: 5px 50px;
  // }
  
  .pad3 {
    // padding: 15px 30px;
    text-align: center;
  }
  
  .pad4 {
    // padding: 5px 15px;
    text-align: center;
  }

 
  
  
  .iframe {
    text-align: center;
    max-width: 700px;
  }
  
  
  .foto-indigena{
    display: flex;
    width: 100%;
    margin-bottom: 60px;
  }
  
  .caps {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    &__text {
      color: wheat;
    }
 
     &__text2 {
      color: wheat;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: -10px;
     }
 
    &__text3 {
      color: wheat;
      padding-left: 15px;
      padding-right: 15px;
     }
     a{
       color: blue
     }
       h3 {
         color: brown;
         text-align: center;
         margin: 60px;
     }
  }

  .talleres {
    text-align: center;
  }

  .sabes {
    text-align: center;
    padding: 20px;
  }

  .se-pa {
    padding-left: 15px;
    text-align: center;
  }

  .juaz {
    text-align: center;
    margin: auto;
  }

  .seamosparte1 {
    display: flex;
    width: 100%;
    margin-top: 20px;
  }

  .seamosparte1 img {
    margin-left: -15px; 
    width: 144px;
  }

  @media (max-width:600px) {
    .seamosparte1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
      .imagSeamos {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin-bottom: 10px;
          width: 100%;

        }
      }
        
    }
  }


  .grid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  
  
  @media (max-width:600px) {
    #grid-container {
      display: flex;
      flex-direction: column;
    }
  }
 
  .footcol {
      background-color: black;
      color: white;
      width: 100%;
      padding: 40px;
      margin: 0px;
  }

  .deco-ico1 a {
    text-decoration: none!important;
    color: blue;
  }

  .deco-ico2 a {
    text-decoration: none!important;
    color: rgb(212, 19, 90);
  }

  .deco-ico3 a {
    text-decoration: none!important;
    color: rgb(17, 120, 155);
  }

  .deco-ico4 a {
    text-decoration: none!important;
    color: green;
  }
 
  .container-fluid {
   width: 100%;
   padding-right: var(--bs-gutter-x,.0rem);
   padding-left: var(--bs-gutter-x,.0rem);
   margin-right: auto;
   margin-left: auto;
  }

  .coment {
    display: flex;
    justify-content: center;
    background-color: burlywood;
    margin: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    &__titu {
      margin-bottom: 30px;
    }
    &__caja {
      background-color: rgb(134, 65, 33);
      width: 100%;
      text-align: center;
    }
    &__nomb {
      width: 610px;
    }
    }

    /*@media (max-width: 360px){ 
      .coment {
        display: flex;
        justify-content: left;
        padding-right: auto;
        margin: 50px;
        width: 100%;
      }
      }*/

  .boton {
    background-color: white;
    border: 4px solid rgb(134, 65, 33);
    color: rgb(134, 65, 33);
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }

  .boton:hover { color: rgb(134, 65, 33);}

  .botonote {
    display: flex;
    justify-content: flex-end;
  }

    
    @media(max-width: 599px) {
      .coment {
        display: flex;
        justify-content: center;
        background-color: burlywood;
        margin: 10px;
        padding: 10px;
        &__titu {
          margin-bottom: 10px;
        }
        &__caja {
          background-color: sienna;
        }
        &__nomb {
          width: 70px;
        }
        }
    }

    .com-box {
      width: 100%;
    }

    .coment__nomb {
      width: 100%;
    }
  
  /*principio sur*/
  
  .flex-container1 {
    display: flex;
    padding: 10px;
    height: auto;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .flex-item1 {
    background: tan;
    border: 2px, solid, black;
    text-align: center;
  }

  
  /*fin sur*/